<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{.Name}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to {{ .Name }}</h1>
        <p>press a or c to play a sign wave</p>

    <script>
        // Create an instance of AudioContext
        const audioCtx = new (window.AudioContext || window.webkitAudioContext)();

        document.addEventListener('keydown', function(evt){
            if (evt.key === "a") {
                playNote(220);
            } else if (evt.key === "c") {
                playNote(264);
            }
        });

        function playNote(note){
            // Create an OscillatorNode
            const oscillator = audioCtx.createOscillator();
            oscillator.type = 'sine'; // Type of wave: sine, square, sawtooth, triangle
            oscillator.frequency.setValueAtTime(note, audioCtx.currentTime); // Set frequency (A4 note)

            // Create a GainNode
            const gainNode = audioCtx.createGain();
            gainNode.gain.setValueAtTime(0.5, audioCtx.currentTime); // Set volume level

            // Connect the oscillator to the gain node and the gain node to the AudioContext's destination
            oscillator.connect(gainNode);
            gainNode.connect(audioCtx.destination);

            // Start the oscillator and stop it after 1 second
            oscillator.start();
            oscillator.stop(audioCtx.currentTime + .5); // Play for 1 second
        }
    </script>
        <script type="text/javascript">
            var socket = new WebSocket("ws://localhost:8080/ws");

            socket.onopen = function(event) {
                console.log("Connected to WebSocket");
                socket.send("Hello, server!");
            };

            socket.onmessage = function(event) {
                console.log("Received message: " + event.data);
            };

            socket.onerror = function(error) {
                console.log("WebSocket Error: " + error);
            };

            socket.onclose = function(event) {
                console.log("WebSocket connection closed");
            };
        </script>
    </body>
</html>
